<div class="movie-list-container">
  <div class="search-bar">
    <input
      class="search-input"
      [formControl]="searchControl"
      placeholder="Buscar por nome do filme..."
    />
  </div>

  <ng-container *ngIf="searchResults$ | async as searchResults">
    <div *ngIf="searchResults.length > 0; else carousels" class="movie-grid">
      <h2>Resultados da Busca</h2>
      <app-movie-card *ngFor="let movie of searchResults" [movie]="movie"></app-movie-card>
    </div>

    <ng-template #carousels>
      <app-carousel
        [title]="'Filmes Populares'"
        [items]="(facade.popularMovies$ | async)!"
        [genres]="(genres$ | async)!"
      ></app-carousel>
      
      <app-carousel
        [title]="'Mais Votados'"
        [items]="(facade.topRatedMovies$ | async)!"
        [genres]="(genres$ | async)!"
      ></app-carousel>

      <app-carousel
        [title]="'Em Breve'"
        [items]="(facade.upcomingMovies$ | async)!"
        [genres]="(genres$ | async)!"
      ></app-carousel>
    </ng-template>
  </ng-container>
</div>