<div class="marathons-page-container">

  @if (savedMarathons$ | async; as marathons) {
    @if (marathons.length > 0) {
      <div class="marathons-list">
        @for (marathon of marathons; track marathon.id) {

          <div class="marathon-display">

            <div class="marathon-header">

              <div class="header-content">
                <h2 class="marathon-title">{{ marathon.name }}</h2>
                <app-button
                    appearance="fortiary"
                    class="delete-button"
                    (click)="deleteMarathon(marathon.id)"
                >
                    <img class="trash-button" src="assets/vectors/trash-2.svg" alt="Excluir">
                </app-button>
              </div>
            </div>
            <app-carousel
              [title]="'Duração: ' + (marathon.totalDuration | duration)"
              [items]="mapMoviesToCarouselItems(marathon)"
              (addMovie)="handleAddMovie($event)" 
            ></app-carousel>
          </div>
        }
      </div>
    } @else {
      <h1 class="marathon-page-header">Minhas Maratonas</h1>
      <p class="empty-message">
        Você ainda não salvou nenhuma maratona.
      </p>
    }
  }
</div>