:host {
  display: block;
  padding: 2rem;
  color: #fff;
  border-top: 2px solid var(--cinelog-b0);
  background: #141414;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.marathon-page-header {

    font-family: 'Poppins';
}

.marathons-list {
  display: flex;
  flex-direction: column;
}

.marathon-title {

    color: white;
}

.header-content {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.marathon-header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 1rem 0rem;
  
  h2 {
    font-size: 1.8rem;
    margin: 0;
  }
  
  .marathon-total-duration {
    color: #ccc;
    margin: 0.5rem 0 0 0;
  }
}

.empty-message {
  color: #888;
  font-size: 1.2rem;
}