<div class="marathon-list-container">
  <h3>Maratona Atual</h3>

  @if (movies$ | async; as movies) {
    @if (movies.length > 0) {
      <div class="movies-container">
        @for(movie of movies; track movie.id) {
          <div class="marathon-item">
            <div class="movie-info">
              <h5 class="movie-title">{{ movie.title }}</h5>
              <p class="movie-director">{{ movie.director }}</p>
              <span class="movie-runtime">{{ movie.runtime | duration }}</span>
            </div>
            <app-button
              appearance="fortiary"
              class="remove-btn"
              (click)="removeMovie(movie.id)"
            >
              <img class="trash-button" src="assets/vectors/trash-2.svg" alt="Remover">
            </app-button>
          </div>
        }
      </div>

      <div class="total-duration">
        <h4>Duração Total:</h4>
        <p>
          {{ (totalDuration$ | async) | duration }}
        </p>
      </div>

      <div class="button-container" >

        <app-button appearance="secondary" (click)="saveDialog.open()" class="save-button">
          Salvar Maratona
        </app-button>
        <!-- <app-button appearance="fortiary" (click)="clearMarathon()" class="action-button">
          Limpar
        </app-button> -->

      </div>

    } @else {
      <p class="empty-message">
        Você ainda não tem filmes para a maratona atual.
      </p>
    }
  }
</div>

  <app-save-dialog #saveDialog 
    (save)="handleSaveMarathon($event)"
  >
  </app-save-dialog>